.full-progress-container {
    position: absolute;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
}

.full-progress-container > div {
    width: 500px;
    max-width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.full-progress-container .full-loading{
    text-align: center;
    padding: 10px 0;
}

.full-progress-container .full-loading span {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.full-progress-container .full-loading dot {
    font-size: 30px;
    color: #fff;
    display: inline-block;
    height: 1em;
    line-height: 1;
    text-align: left;
    vertical-align: -.25em;
    overflow: hidden;
}

.full-progress-container .full-loading dot::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;
    animation: dot .5s infinite step-start both;
}

@keyframes dot {
    33% {
        transform: translateY(-2em)
    }
    66% {
        transform: translateY(-1em)
    }
}

.full-progress-container .full-progress {
    width: 100%;
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.full-progress-container .full-progress-bar {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.full-progress-container .full-progress-striped .full-progress-bar {
    background-color: #FCBC51;
    width: 0;
    background-image: linear-gradient(45deg, #fca311 25%, transparent 25%, transparent 50%, #fca311 50%, #fca311 75%, transparent 75%, transparent);
}


.mini-progress-container{

}
